hr{
    background-color : black;
    height: 2px;
    border: none;
 }
div{
    text-align: none;
    
}
h1{
    margin-left: -23.5vw;
    margin-top: 2vh;
}
h3{
    margin-left: -23.5vw;
    margin-top: 2vh;
}
