<div class="contenitore">
    <h2 style="font-style: oblique;">{{post.autore}}</h2>
    <h3>{{post.descrizione}}</h3>
    
    
    
    <img src='{{post.immagine}}' alt="" style="height: 512px; width: 512px;">
   
    <div class="bottoni">
        <img class= "imgCommento" (click)="mostra()" src="/././assets/img/message.png" style="height: 8.3vh; width: 5vw; ">
        <img class= "imgCommento" (click)="like()" src="/././assets/img/like.png" style="height: 8.3vh; width: 5vw;">
        <p style="font-size:6vh;margin-top:0.5vh;">{{post.miPiace}}</p>
    </div>
    

    <ng-container *ngIf="show">
        <hr>
        <h4 style="font-size:5vh;font-style: bold;">Aggiungi Commento</h4>
        <p>Autore del commento</p>
        <input type="text" name="scrittore" #newscrittore>
        <p>Commento</p>
        <input type="text" name="desc" #newcommento>
        <button class="aggiungiCommento2" (click)="aggiungiCommento(newscrittore,newcommento)">Aggiungi commento</button>
        <app-commenti *ngFor="let com of this.post.commenti" [commenti] = 'com'></app-commenti>
    </ng-container>
</div>